
.align-center{
    align-content: center;
    align-items: center;
}

.salirBoton{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-container {
    display: flex; 
    flex-wrap: wrap;
  }

.photo{
    height: 200px;
  width: 400px;
  max-width: 500px;
}

.cardsrow{
  max-height: 300px;
}

.photoul{
  height: 170px;
  width: 200px;
}

.contentCard{
  display: flex;
    justify-content: space-between;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.linkDoc{
  cursor: pointer;
  
}

.fechas{
  height: 2rem;
}

.tablarenovaciones{
  overflow: auto;
  display: block;
  height: 664px;
}